
    :host {
      display: block;
      min-height: 100vh;
    }

    .custom-scrollbar::-webkit-scrollbar {
      width: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #3c3c4b;
      border-radius: 10px;
    }

    .admin-nav-active {
      background-color: #6D47C4;
      color: #fff;
    }

    .admin-metric-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.625rem;
      background-color: #F7F5FF;
      color: #6D47C4;
    }
